// body{
//   background-image: url("//images/background.png");
// }
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center; /* added to center image horizontally */
  height: 100vh;
  width: 100%;
  // background-color: cadetblue;
  background-image: url("../images/1.png");
  flex-direction: column;
  object-fit: cover;
  position: fixed;
}

#CanvasId{
  position: absolute;
  z-index: 1;
  width: 900px;
  background-color: black;
  height: 600px;
  border-radius: 10px;
  margin: 10px;
}

#title{
  z-index: 1;
  border-radius: 10px;
  background-color: aliceblue;
  padding: 0 16px;
  font-family: monospace;
  margin-top: 25px;
}


#start{
  border: 10px solid rgb(123, 244, 123);
  cursor: pointer;
  font-family: monospace;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgb(56, 241, 56);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#endGame{
  border: 10px solid red;
  cursor: pointer;
  font-family: monospace;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: rgb(243, 55, 55);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#endGame:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 87%;
  margin-bottom: -50px;
  cursor: pointer;

}

.btn{
  display: flex;
  cursor: pointer;
}

.instructionsCanvas{
  color: transparent;
}

#play{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#pause{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contactMe{
  z-index: 1;
  margin-left: 87%;
  margin-top: -150px;
}

.score{
  z-index: 1;
  margin-left: 87%;
}

#win{
  z-index: 1;
  margin: -1%;
  color: transparent;
}

#gravityControls{
  width: 250px;
  z-index: 1;
  top: 0;
  border: 3px solid white;
  background-color: antiquewhite;
  border-radius: 10px;
}
