body{
  background-color: rgba(0, 0, 0, 0.788);
  background-image: url(../images/gameb.jpg);
  height: 400px;
  // border: 3px solid aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#start,#end{
  border:5px solid #000
}
.hidden{
  display:none
}
canvas{
  // position:absolute;
  top:338px;
  left:650px;
  transform:translate(50%, 50%);
  width: 600px;
  // margin-left: -450px;
  height: 550px;
  font-size: 22px;
  color:rgb(255, 0, 230);
  background:linear-gradient(45deg, transparent 5%);
  // display: flex;
  // justify-content: center;
}

.controls{
  font-family:cursive;
  color:rgb(255, 255, 255);
  background-color:#ff0;
  margin-right: 250px;
  position:absolute;
  z-index:10;
  top:100;
  left:50%;
  transform:translateX(-50%)
}
/* mysite */
#gravity{
  border:2px solid #00e6f6;
  background-color:#ff013c;
  color:#000;
  position:absolute;
  z-index:10;
  display:flex;
  justify-content: center;
  align-items:center;
  width:300px;
  height:48px;
}

#gravityControls{
  color: white;
  position:absolute;
  z-index:1;
  display:flex;
  justify-content:center;
  align-items:center;
  width:300px;
  height:200px;
  background: rgba(255, 255, 255, 0.061);
  backdrop-filter: blur(5px);
  background:linear-gradient(45deg, transparent 5%);
}

#hud{
  border:2px solid #ff013c;
  background-image:url("https://img.itch.zone/aW1hZ2UvODIxMDAzLzUxOTc3NTYucG5n/original/gfXuIr.png");
  position:absolute;
  margin-top: 155px;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width: 600px;
  height: 450px;
  font-size: 22px;
  color: aqua;
  background: rgba(255, 255, 255, 0.061);
  backdrop-filter: blur(5px);
  background:linear-gradient(45deg, transparent 5%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  z-index: 1;
}

#linkedin{
  background-color:#000
}

.score{
  display:flex;
  justify-content:center;
  margin-top: 200px;
  height: 50px;
}

#output{
  color:#ff013c;
  width: 50px;
  display: flex;
  justify-content: center;
  margin-right: 580px;
  z-index: 1;
}

.buttonContainer{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  position: fixed;
  margin-top: 50px;
  z-index:10;
  height:50px;
  width:50px;
  margin:auto;
  background:url(./src/audio/2.mp3) no-repeat center center/cover
}
.btn button{
  width:100px;
  height:50px;
  background-color:#000;
  color:#00e6f6;
  cursor:pointer;
  margin-bottom: 50px;
  margin: 150px;
  // right:80px
}
.win{
  position:absolute;
  top:25%;
  right:49%;
  transform:translate(50%, 50%);
  width:150px;
  height:75px;
  color:#fff;
  background:linear-gradient(45deg, transparent 5%);
  z-index: 1;
}

#start,#start:after{
  // top: 54px;
  width:150px;
  height:76px;
  line-height:78px;
  font-size:20px;
  font-family:"Bebas Neue",sans-serif;
  background:linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border:0;
  color:#fff;
  letter-spacing:3px;
  box-shadow:6px 0px 0px #00e6f6;
  outline:rgba(0,0,0,0);
  position:relative;
  right: -56px;
  user-select:none;
  -webkit-user-select:none;
  touch-action:manipulation;
  margin-top: -768px;
  margin-left: 545px;
  // transform: rotate(90deg);
}

#start:after{--slice-0: inset(50% 50% 50% 50%);--slice-1: inset(80% -6px 0 0);--slice-2: inset(50% -6px 30% 0);--slice-3: inset(10% -6px 85% 0);--slice-4: inset(40% -6px 43% 0);--slice-5: inset(80% -6px 5% 0);content:"ALTERNATE TEXT";display:block;position:absolute;top:0;left:0;right:0;bottom:0;background:linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);text-shadow:-3px -3px 0px #f8f005,3px 3px 0px #00e6f6;clip-path:var(--slice-0)}#start:hover:after{animation:1s glitch;animation-timing-function:steps(2, end)}
@keyframes
glitch{0%{clip-path:var(--slice-1);transform:translate(-20px, -10px)}10%{clip-path:var(--slice-3);transform:translate(10px, 10px)}20%{clip-path:var(--slice-1);transform:translate(-10px, 10px)}30%{clip-path:var(--slice-3);transform:translate(0px, 5px)}40%{clip-path:var(--slice-2);transform:translate(-5px, 0px)}50%{clip-path:var(--slice-3);transform:translate(5px, 0px)}60%{clip-path:var(--slice-4);transform:translate(5px, 10px)}70%{clip-path:var(--slice-2);transform:translate(-10px, 10px)}80%{clip-path:var(--slice-5);transform:translate(20px, -10px)}90%{clip-path:var(--slice-1);transform:translate(-10px, 0px)}100%{clip-path:var(--slice-1);transform:translate(0)}}@media(min-width: 768px)
{#start,#start:after{
  width:200px;
  height:86px;
  line-height:88px;
  margin-left: 0px;
  // margin-top: -580px;
  margin-top: -573.5px;
  margin-left: 545px;
}}

#endGame,#endGame:after{
  position:absolute;
  top: 405px;
  width:150px;
  height:76px;
  line-height:78px;
  font-size:20px;
  font-family:"Bebas Neue",sans-serif;
  background:linear-gradient(45deg, transparent 5%, #00E6F6 5%);
  border:0;
  color:#fff;
  letter-spacing:3px;
  box-shadow:6px 0px 0px #FF013C;
  outline:rgba(0,0,0,0);
  user-select:none;
  -webkit-user-select:none;
  touch-action:manipulation;
  margin-top: -320px;
  margin-left: 602.5px;
  // transform: rotate(90deg);
  /* rotate: 45deg; */
}
#endGame:after{
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content:"ALTERNATE TEXT";
  display:block;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin-top: -20px;
  margin-left: 0px;
  background:linear-gradient(45deg, transparent 3%, #31f600 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow:-3px -3px 0px #f8f005,3px 3px 0px #00e6f6;
  clip-path:var(--slice-0);}
#endGame:hover:after{
  animation:1s glitch;
  animation-timing-function:steps(2, end)
}
@keyframes glitch{
  0%{clip-path:var(--slice-1);
  transform:translate(-20px, -10px)}10%{clip-path:var(--slice-3);
  transform:translate(10px, 10px)}20%{clip-path:var(--slice-1);
  transform:translate(-10px, 10px)}30%{clip-path:var(--slice-3);
  transform:translate(0px, 5px)}40%{clip-path:var(--slice-2);
  transform:translate(-5px, 0px)}50%{clip-path:var(--slice-3);
  transform:translate(5px, 0px)}60%{clip-path:var(--slice-4);
  transform:translate(5px, 10px)}70%{clip-path:var(--slice-2);
  transform:translate(-10px, 10px)}80%{clip-path:var(--slice-5);
  transform:translate(20px, -10px)}90%{clip-path:var(--slice-1);
  transform:translate(-10px, 0px)}100%{clip-path:var(--slice-1);
  transform:translate(0)}
}@media(min-width: 768px)
{#endGame,#endGame:after{
  width:200px;
  height:86px;
  line-height:88px;
}}

.play{
  border: none;
}
.pause{
  border: none;
}

.bodyC{
  border: 3px solid aqua;
}
