// CSS Entry File
body{
    margin: 0;
    background: black;
    // background-image: url(../src/images/hills.png);
    background-image: url(../src/images/1.png);
}
canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

.controls{
    font-family: cursive;
    color: white;
    background-color: black;
    position: absolute;
    z-index: 10;
    top: 100;
    left: 50%;
    transform: translateX(-50%);
}
.controls, select, option {
    font-size: 25px;
}
.title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 48px;
}
